@model SujetPFE.Domain.Entities.Objectif

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Objectif</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateDebut" class="control-label"></label>
                <input asp-for="DateDebut" class="form-control" />
                <span asp-validation-for="DateDebut" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateFin" class="control-label"></label>
                <input asp-for="DateFin" class="form-control" />
                <span asp-validation-for="DateFin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValeurCible" class="control-label"></label>
                <input asp-for="ValeurCible" class="form-control" />
                <span asp-validation-for="ValeurCible" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValeurActuelle" class="control-label"></label>
                <input asp-for="ValeurActuelle" class="form-control" />
                <span asp-validation-for="ValeurActuelle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UniteMesure" class="control-label"></label>
                <input asp-for="UniteMesure" class="form-control" />
                <span asp-validation-for="UniteMesure" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Statut" class="control-label"></label>
                <input asp-for="Statut" class="form-control" />
                <span asp-validation-for="Statut" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Matricule1" class="control-label"></label>
                <input asp-for="Matricule1" class="form-control" />
                <span asp-validation-for="Matricule1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClientId" class="control-label"></label>
                <select asp-for="ClientId" class="form-control" asp-items="ViewBag.ClientId"></select>
                <span asp-validation-for="ClientId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MontantCredit" class="control-label"></label>
                <input asp-for="MontantCredit" class="form-control" />
                <span asp-validation-for="MontantCredit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MontantDepot" class="control-label"></label>
                <input asp-for="MontantDepot" class="form-control" />
                <span asp-validation-for="MontantDepot" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TypeProduit" class="control-label"></label>
                <input asp-for="TypeProduit" class="form-control" />
                <span asp-validation-for="TypeProduit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
