@model SujetPFE.Domain.Entities.ObjectifSuivi

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>ObjectifSuivi</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ObjectifId" class="control-label"></label>
                <input asp-for="ObjectifId" class="form-control" />
                <span asp-validation-for="ObjectifId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Realisation" class="control-label"></label>
                <input asp-for="Realisation" class="form-control" />
                <span asp-validation-for="Realisation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ecart" class="control-label"></label>
                <input asp-for="Ecart" class="form-control" />
                <span asp-validation-for="Ecart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateSuivi" class="control-label"></label>
                <input asp-for="DateSuivi" class="form-control" />
                <span asp-validation-for="DateSuivi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
