@model SujetPFE.Models.LoginViewModel

<video id="background-video" autoplay loop muted>
    <source src="~/videos/background-video.mp4" type="video/mp4">
</video>

<div class="login-page">
    <div class="header">
        <div class="logo-area">
            <img src="https://upload.wikimedia.org/wikipedia/fr/7/74/Logo_biat_2019.jpg" alt="Logo BIAT" class="logo" />
        </div>
        <div class="title-area">
            <h1>Portail PCB</h1>
        </div>
        <div class="contact-area">
            <a href="#">Contact</a>
        </div>
    </div>
    <div class="content">
        <div class="welcome-area">
            <h2>Bienvenue au portail PCB</h2>
        </div>
        <div class="login-box">
            <div class="login-header">
                <h3>LOGIN</h3>
            </div>
            <form asp-controller="Account" asp-action="Login" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Matricule"></label>
                    <div class="input-icon">
                        <i class="fas fa-user"></i>
                        <input asp-for="Matricule" class="form-control" placeholder="Nom d'utilisateur" />
                    </div>
                    <span asp-validation-for="Matricule" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MotDePasse"></label>
                    <div class="input-icon">
                        <i class="fas fa-lock"></i>
                        <input asp-for="MotDePasse" type="password" class="form-control" placeholder="Mot de passe" />
                    </div>
                    <span asp-validation-for="MotDePasse" class="text-danger"></span>
                </div>
                <div class="form-options">
                    <div class="remember-me">
                        <input type="checkbox" id="rememberMe" name="rememberMe" />
                        <label for="rememberMe">Se souvenir de moi</label>
                    </div>
                    <div class="forgot-password">
                        <a href="#">Mot de passe oublié ?</a>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Se connecter</button>
            </form>
        </div>
    </div>
    <div class="footer">
    </div>
</div>